/* across all pages */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center;
    padding: 10px;
    margin: 0;
    font-size: 32px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

p.link-dash {
    text-align: center;
    margin: auto;
}

.h2-box {
    background-color: #4aaaa5;
    color: white;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;
}

.nav {
    align-content: center;
    justify-content: space-between;
}

.nav-item {
    align-content: center;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #666666;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 2px #4aaaa5;
    text-align: center;
    padding: 15px;
    margin: 0;
}

.footer-content {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.row {
    margin-bottom: 10px;
}

.col-md-1 {
    background: transparent;
}

.col-md-9 {
    background-color: white;
}

body {
    background-image: url(../images/prism.png)
}

.navbar fixed bottom {
    background-color: white;
    color: black;
}


/* About specific */

.img-fluid {
    height: auto;
    width: auto;
}


/* Contact Specific */

.btn {
    color: white;
    background-color: #4aaaa5;
}


/* Portfolio specific*/

.card {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
}



h5 {
    background-color: #4aaaa5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: 14px;
    text-align: center;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
}